

#countdown{
    margin-top: 50px;
    .countdown-title{
       // text-align: left;
    }
    .react-cntdwn-timer{
        font-size: 50px;
        padding: 10px 0 50px 0;
        letter-spacing: 10px
    }
}

